<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="dk.tomi.Mail2Remedy"
      android:versionCode="1"
      android:versionName="1.0">
      <uses-sdk android:minSdkVersion="14" />
      <uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <application android:icon="@drawable/creep3" android:label="@string/app_name">
        <activity android:name=".Mail2RemedyMain"
                 android:label="@string/app_name"
                 android:theme="@android:style/Theme.NoTitleBar"
                 android:screenOrientation="portrait"                
                 >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity android:name=".Mail2Remedy_Debug"
                 android:label="@string/app_name"
                 android:theme="@android:style/Theme.NoTitleBar">
    </activity>
    <activity android:name=".Mail2Remedy_quick"
                 android:label="@string/app_name"
                 android:theme="@android:style/Theme.NoTitleBar">
    </activity>
    
        <activity android:name=".open_2click"
                 android:label="@string/app_name"
                 android:theme="@android:style/Theme.NoTitleBar">
    </activity>

  	<activity android:name=".Mail2Remedy_close1"
                 android:label="@string/app_name"
                 android:theme="@android:style/Theme.NoTitleBar">
    </activity>
    
  	  	<activity android:name=".Gmail_reader"
                 android:label="@string/app_name"
                 android:theme="@android:style/Theme.NoTitleBar">
    </activity>
    
  	  	  	<activity android:name=".TwoClick"
                 android:label="@string/app_name"
                 android:theme="@android:style/Theme.NoTitleBar">
    </activity>  	
  	  	

    <activity android:name=".RemedyActivity"
                 android:label="@string/app_name"
                 android:theme="@android:style/Theme.NoTitleBar">
    </activity>
    <activity android:name=".RemedySettings" 
				android:label="RemedySettings">
    </activity>




</application>
    




</manifest> 